<ul class="fixed left-0 w-1/6">
  <li class="text-center border-b border-gray-100 hover:bg-gray-100">
    <%= link_to '名冊填報', new_admin_recommender_path, class: 'block py-3 pr-4' %>
  </li>
  <li class="text-center border-b border-gray-100 hover:bg-gray-100">
    <%= link_to '檢視名冊', admin_recommenders_path, class: 'block py-3 pr-4' %>
  </li>
  <li class="text-center border-b border-gray-100 hover:bg-gray-100">
    <%= link_to '產生問卷連結', share_admin_recommenders_path, class: 'block py-3 pr-4' %>
  </li>
  <li class="text-center border-b border-gray-100 hover:bg-gray-100">
    <%= link_to '名單匯入', upload_admin_recommenders_path, class: 'block py-3 pr-4' %>
  </li>
  <li class="text-center border-b border-gray-100 hover:bg-gray-100">
    <%= link_to '名單匯出', export_admin_recommenders_path, class: 'block py-3 pr-4' %>
  </li>
  <% if current_user %>
    <li class="border-b border-gray-100 hover:bg-gray-100">
      <%= button_to '登出', destroy_user_session_path, method: :delete, class: 'w-full block py-3 pr-4 mx-auto' %>
    </li>
  <% end %>
</ul>
