<%= form_with(model: recommender, builder: RecommenderFormBuilder) do |form| %>
  <% if recommender.errors.any? %>
    <div class="p-4 mt-4 text-orange-700 bg-orange-100 border-l-4 border-orange-500" id="error_explanation">
      <h2><%= pluralize(recommender.errors.count, "個錯誤") %> 該推薦人因以下原因無法儲存:</h2>
      <ul>
        <% recommender.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="max-w-3xl mt-20 grid gap-9 grid-cols-min-contect-and-auto" data-controller="recommenders">
    <label class="self-center text-right" for="provider_department">登入單位</label>
    <select name="provider_department" id="departments" class="appearance-none recommender-form-input" disabled>
      <%= all_departments_options(department, department&.id) %>
    </select>

    <%= form.label :provider_name, class: "recommender-form-label" %>
    <%= form.text_field :provider_name, class: "recommender-form-input", placeholder: "教師姓名", required: true %>

    <%= form.label :provider_email, class: "recommender-form-label"%>
    <%= form.email_field :provider_email, class: "recommender-form-input", placeholder: "教師通訊電郵", required: true %>

    <%= form.label :category, class: "recommender-form-label" %>
    <%= form.select :category, all_categories_options(recommender.category), {}, class: "recommender-form-select", 'data-recommenders-target': 'category', 'data-action': 'recommenders#changeVisible' %>

    <%= form.text_with_label_field :title, placeholder: "Title" %>

    <%= form.text_with_label_field :first_name, placeholder: "First Name" %>

    <%= form.text_with_label_field :last_name, placeholder: "Last Name" %>

    <%= form.label :email, class: "recommender-form-label"%>
    <%= form.email_field :email, class: "recommender-form-input", placeholder: "Email", required: true , title: "限以英文 (半形) 填入，並勿填寫如É、Ÿ等特殊字元。"%>

    <%= form.text_with_label_field :job_title, placeholder: "Position" %>

    <div class="contents" data-recommenders-target="academic">
      <%= form.text_with_label_field :department, placeholder: "Department", required: false %>
    </div>

    <div class="contents" data-recommenders-target="academic">
      <%= form.label :institution_id, class: "recommender-form-label"%>
      <%= form.select :institution_id, all_institutions_options(recommender.institution_id), {}, class: "recommender-form-select", placeholder: "請選擇"%>
    </div>

    <div class="contents" data-recommenders-target="industry">
      <%= form.label :industry_id, class: "recommender-form-label" %>
      <%= form.select :industry_id, all_industries_options(recommender.industry_id), {}, class: "recommender-form-select", placeholder: "請選擇"%>
    </div>

    <div class="contents" data-recommenders-target="industry">
      <%= label_tag 'company', 'Company Name(公司名稱)', class: 'recommender-form-label' %>
      <%= recommender_text_field_tag('company', 'data-recommenders-target': "company") %>
    </div>

    <div class="contents" data-recommenders-target="industry">
      <%= label_tag 'country', 'Country(所屬國家)', class: 'recommender-form-label' %>
      <select name="country" id="country" class="recommender-form-input">
        <%= all_countries_options(recommender.institution&.country&.id) %>
      </select>
    </div>
  </div>
  <input name="user_token" type="hidden" value="<%= @user_token %>">

  <%= form.submit '名單提交', class: "py-1 px-5 text-white bg-blue-700 border-2 border-blue-700 rounded-3xl hover:text-blue-700 hover:bg-white mt-20 ml-64 mb-60" %>
<% end %>
