<%= form_with(model: recommender, class: "px-8 pt-6 pb-8 my-4 bg-white rounded shadow-md") do |form| %>
  <% if recommender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommender.errors.count, "error") %> prohibited this recommender from being saved:</h2>

      <ul>
        <% recommender.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class:"block mb-2 text-sm font-bold text-gray-700"%>
    <%= form.text_field :title, class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :first_name, class:"block mb-2 text-sm font-bold text-gray-700"%>
    <%= form.text_field :first_name, class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :last_name, class:"block mb-2 text-sm font-bold text-gray-700"%>
    <%= form.text_field :last_name, class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :job_title, class:"block mb-2 text-sm font-bold text-gray-700"%>
    <%= form.text_field :job_title, class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :department, class:"block mb-2 text-sm font-bold text-gray-700"%>
    <%= form.text_field :department, class: "w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mt-4">
    <%= form.label :institution_id %><br />
    <%= form.select :institution_id, all_institutions_options, {}, class: "form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"%>
  </div>

  <div class="mt-4">
    <%= form.label :industry_id %><br />
    <%= form.select :industry_id, all_industries_options, {}, class: "form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"%>
  </div>

  <div class="flex items-center justify-between mt-4">
    <%= form.submit "新增", class: "px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
