<%= form_tag admin_recommenders_url, id: "switch_department_form", method: "get" do %>
  <%= label_tag(:department_id, "切換部門") %>
  <%= select_tag :department_id, all_departments_options(@department.id) %>
<% end %>

<p>單位：<%= @department.name %></p>
<div class="container mx-auto">
  <p>學術界名單，共計 <span style="color: red"><%= @recommenders.is_academic.count %></span> 筆</p>
  <%= render 'table', recommenders: @recommenders.is_academic, type: :academic %>

  <p>產業界名單，共計 <span style="color: red"><%= @recommenders.is_industry.count %></span> 筆</p>
  <%= render 'table', recommenders: @recommenders.is_industry, type: :industry %>

</div>
<script>
  document.querySelector("#switch_department_form").addEventListener("change", function(){
      this.submit();
  })
</script>
